/* .cdcd{
    color: yellow;
    
    background: #F4F6FC;
    background: #282938;
    background: #FFFFFF;
    background: #1C1E53;
    background: #1C1E53;
    background: #F4F6FC;
    font-family: Poppins;
    background: #FCD980;
    background: #282938;


font-weight: 600;
font-size: 38px;
leading-trim: NONE;
line-height: 56px;
/* letter-spacing: 0%; }*/ 


  
@import "tailwindcss";




